//* ----------------------------------------
//* Layout
//* ----------------------------------------
$main-pages: 'ras', 'kitsunes'

//* ----------------------------------------
//* Colors
//* ----------------------------------------
$cc: currentColor
$t: transparent

//* ----------------------------------------
//* Transition lengths
//* ----------------------------------------
$tr-s: .3s
$tr-l: .5s