@use "sass:string"
@use "sass:meta"

//# ----------------------------------------
//# Imports
//# ----------------------------------------
@import '_variables.sass'
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap')

//# ----------------------------------------
//# Mixins & Animations
//# ----------------------------------------
@mixin CGradBorder($width: 1px, $color: currentColor, $hor: true)
	border-style: solid
	@if $hor == true
		border-block-width: $width
		border-image: linear-gradient(to left, $t, $color, $color, $t)
	@else
		border-inline-width: $width
		border-image: linear-gradient(to top, $t, $color, $color, $t)
	border-image-slice: 1
@mixin UniGradientBorder($width: 1px, $color: currentColor, $hor: true, $cex: 0%, $tex: 100%, $dir: 'right')
	border-image: linear-gradient(to string.unquote($dir), $color $cex, $t $tex)
	border-image-slice: 1
	@if $hor == true
		border-block: solid $width
	@else 
		border-inline: solid $width
@mixin GradientBg($color: currentColor, $hor: true)
	@if $hor
		background-image: linear-gradient(to left, $t, $color, $color, $t)
	@else
		background-image: linear-gradient(to top, $t, $color, $color, $t)
@mixin Transition($props, $length, $function: ease)
	transition-property: string.unquote($props)
	@if type-of($length) == string
		transition-duration: string.unquote($length)
	@else 
		transition-duration: $length
	@if type-of($function) == string
		transition-timing-function: string.unquote($function)
	@else 
		transition-timing-function: $function
@keyframes sway
	0%
		transform: translateX(-10vw)
	100%
		transform: translateX(10vw)
@keyframes bg-vert-scroll
	0%
		background-position-y: 0
	100%
		background-position-y: 2000rem

//# ----------------------------------------
//# Functions
//# ----------------------------------------
@each $page in $main-pages
	body[current=#{$page}] [page-bg=#{$page}]
		opacity: 1

//# ----------------------------------------
//# Defaults
//# ----------------------------------------
body //? Full default
	font-family: 'Dosis'
	font-weight: 400
	background-color: #111
	color: white
button
	appearance: none
	color: inherit
	background: transparent
	border: none
	cursor: pointer
	font-family: inherit
	font-size: inherit
	font-weight: inherit
	text-align: inherit
[page-bg]
	position: fixed
	width: 100vw
	height: 100vh
	background-size: cover
	background-position: center center
	// transform: translateX(-50%)
	opacity: 0
	transition: opacity $tr-l ease
	z-index: -10
// #bg-wrapper
// 	position: fixed
// 	left: 50%
// 	height: 100%
// 	animation: sway 30s cubic-bezier(0.25, 0, 0.75, 1) infinite alternate
// 	z-index: -10

//# ----------------------------------------
//# Page colors
//# ----------------------------------------
body
	@include Transition('background', $length: $tr-s)
	--pg-bg: #111
	--pg-acc: crimson
	--pg-acc-d: hsl(348, 83%, 30%)
	--pg-acc-h: 348
	--pg-txt: white
	--pg-tint: hsl(0, 100%, 100%)
	color: var(--pg-txt)
	background-color: var(--pg-bg)

	--c-foxfire-d: hsl(220, 100%, 50%)
	--c-foxfire-l: hsl(203, 100%, 70%)
	&[current=ras]
		$c-ras: hsl(203, 100%, 50%)
		--pg-acc: hsl(203, 100%, 50%)
		--pg-acc-txt: hsl(203, 100%, 60%)
		--pg-acc-d: hsl(203, 100%, 30%)
		--pg-acc-dt: darken($c-ras 10)
		--pg-acc-h: 203
		--pg-txt: white
		--pg-tint: hsl(50, 100%, 25%)
	&[current=kitsunes]
		--pg-acc: hsl(5, 100%, 30%)
		--pg-acc-txt: hsl(5, 100%, 55%)
		--pg-acc-d: hsl(5, 100%, 20%)
		--pg-acc-h: 5
		--pg-txt: white
		// --pg-tint: hsl(20, 100%, 30%)
	&[current=world]
		--pg-bg: hsl(32, 24%, 57%)
		--pg-acc: hsl(32, 24%, 57%)
		--pg-acc-txt: hsl(32, 24%, 57%)
		--pg-acc-d: hsl(32, 24%, 32%)
		--pg-acc-h: 32
		--pg-txt: black
		// --pg-tint: hsl(20, 100%, 30%)

//# ----------------------------------------
//# Page styling
//# ----------------------------------------
.page
	@include Transition('opacity', $length: $tr-vl)
	header, &.tiled .tile //? Headers
		font-family: 'IM Fell English'
		font-weight: 300
		position: relative
		img
			position: absolute
			inset: 0
			width: 100%
			z-index: 1
		h1, h2
			position: relative
			margin: 0
			z-index: 2
		h1
			font-size: 3rem
		h2
			margin-top: -1rem
			font-style: italic
	.content
		@include Transition('transform, opacity', $tr-vl)
		@include UniGradientBorder($hor: false, $cex: 50%, $dir: 'bottom')
		border-right: none
		margin-left: -1px
		header
			margin-bottom: 3rem
		> h1, > h2, > h3, > section
			max-width: 1000px
			margin-inline: auto
		> h1, > h2, > h3 //? Section headers and decorations
			display: inline-block
			width: 100%
			margin: 0
			// margin-block: 1rem .5rem
			line-height: 1em
			font-weight: bold
			line-height: 1.2em
			position: relative
			background-image: linear-gradient(to right, rgb(0 0 0 / 22%), rgb(0 0 0 / 90%), rgb(0 0 0 / 90%), rgb(0 0 0 / 22%))
			box-shadow: 0 0 5rem .3rem rgb(0 0 0 / 100%)
			clip-path: polygon(-1000% 0%, 1000% 0%, 1000% 100%, -1000% 100%, -1000% 0%)
			&::before,
			&::after
				content: ''
				position: relative
				display: inline-block
				background-image: url('/assets/leafveinhalf.png'), linear-gradient(to left, $t, var(--pg-acc))
				background-size: 100% auto
				background-blend-mode: overlay
				border-top-left-radius: 50%
				border-bottom-left-radius: 50%
			&::before
				margin-left: -100%
				right: .75rem
				transform: translateY(-.2rem) rotate(180deg)
			&::after
				margin-right: -100%
				left: .75rem
				transform: translateY(-.2rem)
		> h1
			font-size: 1.8rem
			&::before,
			&::after
				width: 40%
				max-width: calc((100vw - 8rem) / 2)
				height: .7rem
				// border-block: solid 2px
				// border-image: linear-gradient(to right, $cc, $t)
				// border-image-slice: 1
				filter: url(#wavyh1) drop-shadow(0 0 .2rem var(--pg-acc)) //drop-shadow(0 0 .1rem black)
		> h2
			font-size: 1.5rem
			&::before,
			&::after
				width: 25%
				max-width: calc((100vw - 8rem) / 2)
				height: .4rem
				filter: url(#wavyh2) drop-shadow(0 0 .2rem var(--pg-acc)) //drop-shadow(0 0 .1rem black)
		> h3
			font-size: 1.2rem
			&::before,
			&::after
				width: 10%
				max-width: calc((100vw - 8rem) / 2)
				height: .4rem
				filter: url(#wavyh3) drop-shadow(0 0 .2rem var(--pg-acc)) //drop-shadow(0 0 .1rem black)
		p //? Paragraphs
			margin-block: .3rem
		section
			position: relative
			padding-block: .5rem
			&::before
				content: ''
				position: absolute
				inset: 0
				background-image: url(assets/smoke-bg.png), linear-gradient(to right, $t, rgb(0 0 0 / 30%), $t)
				background-size: 100% auto
				animation: bg-vert-scroll 360s linear infinite
				z-index: -1
			.subcolumns //? Sections that separate into multiple subcolumns
				> :not(.escape)
					&:first-child:nth-last-child(2)
						text-align: right
					&:last-child:nth-child(2)
						text-align: left
	.sidebar
		@include Transition('opacity, transform, filter', $tr-vl)
		@include UniGradientBorder($hor: false, $cex: 50%, $dir: 'bottom')
		overflow: hidden
		border-left: none
		background-color: rgb(0 0 0 / 70%)
		backdrop-filter: blur(1rem) url(#glass)// blur(.1rem)
		> .header-pointer
			@include UniGradientBorder($tex: 50%, $dir: 'left')
			border-bottom: none
			&:first-of-type
				border-top: none
			&:hover > *,
			&:focus-within > *
				transform: translateX(.5rem)
				transition: transform $tr-vs ease
			> *
				@include Transition('transform, color, filter', $tr-s)
				display: inline-block
				// &::before,
				&::before
					@include Transition('opacity, transform', $tr-s)
					content: '•'
					position: absolute
					right: calc(100% + .3rem)
					transform: translateX(-.5rem)
					font-weight: bold
					opacity: 0
			&.current > *
				color: var(--pg-acc-txt)
				transform: translateX(1rem)
				&::before,
				&::after
					transform: translateX(0rem)
					opacity: 1
		> .header
			text-align: center
			font-size: 1.1em
			font-weight: bold
			&:not(:first-of-type)
				margin-top: 1lh
		[page-link]
			position: relative
			width: fit-content
			margin-inline: auto
			padding: 0
			text-align: center
			text-decoration: underline
			text-decoration-style: dotted
			text-decoration-color: $mw
			text-underline-offset: 2px
			&:hover::before,
			&:focus-within::before
				width: 100%
			&::before
				@include Transition('width', $tr-s)
				content: ''
				position: absolute
				bottom: 1px
				left: 50%
				transform: translateX(-50%)
				width: 0
				height: 2px
				background-color: var(--pg-acc)

		> .last-updated
			margin-top: 2lh
			font-size: .8rem
			font-weight: 100
.page.tiled
	.tile
		@include Transition('transform, opacity', $tr-vl, cubic-bezier(0, 0, 0.1, 0.99))
		h1, h2
			color: white
			filter: drop-shadow(0 0 .5rem black)
		&::before
			@include Transition('opacity', $length: $tr-s)
			content: ''
			position: absolute
			inset: -$sp-std
			filter: url(#paper)
			background-color: currentColor
			border-radius: 100%
			opacity: .05
		&:hover
			&::before
				opacity: .2

//* Ras Silverleaf
#ras .content
	.physical
		color: hsl(160deg, 100%, 40%)
	.magical
		color: hsl(200deg, 100%, 50%)

//# ----------------------------------------
//# Topnav styling
//# ----------------------------------------
nav#topnav
	@include Transition('background, color', $tr-l)
	border-bottom: solid 1px
	> div
		transition: color $tr-s ease
		border-right: solid 1px
		position: relative
		font-size: 1.5rem
		> button
			transition: background $tr-l ease
			position: relative
			background-color: var(--pg-acc)
			background-image: linear-gradient(to top, rgb(0 0 0 / 30%), $t)
			height: 100%
			width: 100%
			z-index: 2
		&:last-of-type
			border-right: none
		button
			&::before,
			&::after
				transition: opacity $tr-s ease
				content: '—'
				margin-inline: .3rem
				opacity: 0
			&:hover
				&::before,
				&::after
					opacity: 1
	.dropdown
		display: flex
		place-content: center
		flex-direction: column
		transition: transform $tr-s ease, opacity $tr-s ease, background-color $tr-l ease
		width: 100%
		position: absolute
		top: 100%
		padding-block: $sp-std/2
		background-color: var(--pg-acc)
		background-image: linear-gradient(to top, rgb(0 0 0 / 30%), rgb(0 0 0 / 30%))
		border: solid 1px
		border-top: none
		border-bottom-left-radius: .4rem
		border-bottom-right-radius: .4rem
		font-size: 1rem
		z-index: 1

//# ----------------------------------------
//# World Map
//# ----------------------------------------
#world, #world-map
	height: 100%
	width: 100%

//# ----------------------------------------
//# Text alignment
//# ----------------------------------------
nav#topnav
	text-align: center
.page
	text-align: center
	.sidebar
		text-align: left
		.last-updated
			text-align: center
	.content
		> h1, > h2, > h3