@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Dosis";
  font-weight: 400;
  background-color: #111;
  color: white;
}

body[current=ras] {
  --pg-acc: hsl(203, 100%, 30%);
  --pg-acc-d: hsl(203, 100%, 20%);
  --pg-txt: white;
  --pg-tint: hsl(50, 100%, 25%);
}
body[current=kitsunes] {
  --pg-acc: hsl(5, 100%, 30%);
  --pg-acc-d: hsl(5, 100%, 20%);
  --pg-txt: white;
  --pg-tint: hsl(20, 100%, 30%);
}

.page {
  transition-property: transform;
  transition-duration: 0.3s;
}
.page .content header {
  font-family: "IM Fell English";
  font-weight: 300;
}
.page .content header h1, .page .content header h2 {
  margin: 0;
}
.page .content header h1 {
  font-size: 3rem;
}
.page .content header h2 {
  margin-top: -1rem;
  font-style: italic;
}
.page .content > h1, .page .content > h2, .page .content > h3 {
  margin-block: 2rem 1rem;
  line-height: 1em;
  font-weight: bold;
  position: relative;
  text-shadow: 0 0 1rem black, 0 0 1rem black;
}
.page .content > h1::before, .page .content > h1::after, .page .content > h2::before, .page .content > h2::after, .page .content > h3::before, .page .content > h3::after {
  content: "";
  position: relative;
  display: inline-block;
  background-image: url("/assets/leafveinhalf.png"), linear-gradient(to left, transparent, var(--pg-acc));
  background-size: 100% auto;
  background-blend-mode: overlay;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.page .content > h1::before, .page .content > h2::before, .page .content > h3::before {
  margin-left: -100%;
  right: 0.75rem;
  transform: translateY(-0.2rem) rotate(180deg);
}
.page .content > h1::after, .page .content > h2::after, .page .content > h3::after {
  margin-right: -100%;
  left: 0.75rem;
  transform: translateY(-0.2rem);
}
.page .content > h1 {
  font-size: 1.8rem;
}
.page .content > h1::before, .page .content > h1::after {
  width: 40%;
  max-width: calc((100vw - 8rem) / 2);
  height: 0.7rem;
  filter: url(#wavyh1) drop-shadow(0 0 0.2rem var(--pg-acc));
}
.page .content > h2 {
  font-size: 1.5rem;
}
.page .content > h2::before, .page .content > h2::after {
  width: 25%;
  max-width: calc((100vw - 8rem) / 2);
  height: 0.4rem;
  filter: url(#wavyh2) drop-shadow(0 0 0.2rem var(--pg-acc));
}
.page .content > h3 {
  font-size: 1.2rem;
}
.page .content > h3::before, .page .content > h3::after {
  width: 10%;
  max-width: calc((100vw - 8rem) / 2);
  height: 0.4rem;
  filter: url(#wavyh3) drop-shadow(0 0 0.2rem var(--pg-acc));
}
.page .content p {
  margin-block: 0.3rem;
}
.page .content section.subcolumns > :not(.escape):first-child:nth-last-child(2) {
  text-align: right;
}
.page .content section.subcolumns > :not(.escape):last-child:nth-child(2) {
  text-align: left;
}
.page .sidebar {
  border-style: solid;
  border-inline-width: 1px;
  -o-border-image: linear-gradient(to top, transparent, currentColor, currentColor, transparent);
     border-image: linear-gradient(to top, transparent, currentColor, currentColor, transparent);
  border-image-slice: 1;
  border-left: none;
}

#ras .content .physical {
  color: hsl(160deg, 100%, 40%);
}
#ras .content .magical {
  color: hsl(200deg, 100%, 50%);
}

nav#topnav > div {
  font-size: 1.5rem;
  border-right: solid 1px;
  -o-border-image: linear-gradient(to top, currentColor, transparent);
     border-image: linear-gradient(to top, currentColor, transparent);
  border-image-slice: 1;
}

nav#topnav {
  text-align: center;
}

.page {
  text-align: center;
}
.page .sidebar {
  text-align: left;
}

nav#topnav {
  border-bottom: 1px solid currentColor;
}
/*# sourceMappingURL=style.css.map */