@use "sass:string"
@use "sass:meta"

// //# ----------------------------------------
// //# Imports
// //# ----------------------------------------
@import '_variables.sass'
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap')

// //# ----------------------------------------
// //# Mixins & Animations
// //# ----------------------------------------
// @mixin CGradBorder($width: 1px, $color: currentColor, $hor: true)
// 	border-style: solid
// 	@if $hor == true
// 		border-block-width: $width
// 		border-image: linear-gradient(to left, $t, $color, $color, $t)
// 	@else
// 		border-inline-width: $width
// 		border-image: linear-gradient(to top, $t, $color, $color, $t)
// 	border-image-slice: 1
// @mixin UniGradientBorder($width: 1px, $color: currentColor, $hor: true, $cex: 0%, $tex: 100%, $dir: 'right')
// 	border-image: linear-gradient(to string.unquote($dir), $color $cex, $t $tex)
// 	border-image-slice: 1
// 	@if $hor == true
// 		border-block: solid $width
// 	@else 
// 		border-inline: solid $width
// @mixin GradientBg($color: currentColor, $hor: true)
// 	@if $hor
// 		background-image: linear-gradient(to left, $t, $color, $color, $t)
// 	@else
// 		background-image: linear-gradient(to top, $t, $color, $color, $t)
// @mixin Transition($props, $length, $function: ease)
// 	transition-property: string.unquote($props)
// 	@if type-of($length) == string
// 		transition-duration: string.unquote($length)
// 	@else 
// 		transition-duration: $length
// 	@if type-of($function) == string
// 		transition-timing-function: string.unquote($function)
// 	@else 
// 		transition-timing-function: $function
// @keyframes sway
// 	0%
// 		transform: translateX(-10vw)
// 	100%
// 		transform: translateX(10vw)
@keyframes bg-vert-scroll
	0%
		background-position-y: 0
	100%
		background-position-y: 2000rem
@function lg($dir, $stops)
	@return linear-gradient(to $dir, string.unquote($stops))

//# ----------------------------------------
//# Defaults
//# ----------------------------------------
//* Button reset
button
	appearance: none
	color: inherit
	background: transparent
	border: none
	cursor: pointer
	font-family: inherit
	font-size: inherit
	font-weight: inherit
	text-align: inherit
a
	cursor: pointer
[page-bg]
	position: fixed
	width: 100vw
	height: 100vh
	opacity: 0
	z-index: -10
	background-size: cover
	background-position: center center
//* Scrollbar
.content
	&::-webkit-scrollbar-track
		background-color: transparent
	&::-webkit-scrollbar
		width: 10px
	&::-webkit-scrollbar-thumb
		background-image: lg(bottom, 'var(--pg-acc-d), var(--pg-acc), var(--pg-acc-d)')
		background-color: var(--pg-acc)
		box-shadow: none
		border-radius: 0
		border: none
		transition: background $tr-vl ease

//# ----------------------------------------
//# Page colors
//# ----------------------------------------
body
	--pg-bg: #111
	--pg-acc: crimson
	--pg-acc-d: hsl(348 83% 30%)
	--pg-acc-h: 348
	--pg-txt: white
	--pg-txt-i: black
	--pg-tint: hsl(0 100% 100%)
	--pg-sec-invert: 0
	color: var(--pg-txt)
	background-color: var(--pg-bg)

	--c-foxfire-d: hsl(220 100% 50%)
	--c-foxfire-l: hsl(203 100% 70%)
	&[current='ras']
		$c-ras: hsl(203 100% 50%)
		--pg-acc: hsl(203 100% 50%)
		--pg-acc-hsl: 203 100% 50%
		--pg-acc-txt: hsl(203 100% 60%)
		--pg-acc-d: hsl(203 100% 30%)
		--pg-txt: white
		--pg-tint: hsl(50 100% 25%)
	&[current='kitsunes']
		--pg-acc: hsl(5 100% 30%)
		--pg-acc-hsl: 5 100% 30%
		--pg-acc-txt: hsl(5 100% 55%)
		--pg-acc-d: hsl(5 100% 20%)
		--pg-txt: white
		// --pg-tint: hsl(20 100% 30%)
	&[current='world']
		--pg-bg: hsl(32 24% 57%)
		--pg-acc: hsl(32 24% 57%)
		--pg-acc-hsl: 32 24% 57%
		--pg-acc-txt: hsl(32 24% 57%)
		--pg-acc-d: hsl(32 24% 32%)
		--pg-txt: black
		--pg-txt-i: white
		// --pg-tint: hsl(20 100% 30%)
	&[current='whisperwood-forest']
		// --pg-bg: hsl(32 24% 57%)
		--pg-acc: hsl(140 100% 41%)
		--pg-acc-hsl: 140 100% 41%
		--pg-acc-txt: hsl(140 100% 41%)
		--pg-acc-d: hsl(140 100% 25%)
		// --pg-txt: black
		// --pg-tint: hsl(20 100% 30%)
	&[current='magicsystem']
		// --pg-bg: hsl(32 24% 57%)
		--pg-acc: hsl(268 100% 60%)
		--pg-acc-hsl: 268 100% 50%
		--pg-acc-txt: hsl(268 100% 69%)
		--pg-acc-d: hsl(268 100% 30%)
		// --pg-txt: black
		// --pg-tint: hsl(20 100% 30%)
	&[current='elves']
		// --pg-bg: hsl(32 24% 100%)
		--pg-acc: hsl(60 100% 97%)
		--pg-acc-hsl: 60 100% 97%
		--pg-acc-txt: hsl(60,52%,82%)
		--pg-acc-d: hsl(60,11%,65%)
		--pg-txt: black
		--pg-txt-i: white
		--pg-txt-i-rgb: 255 255 255
		// --pg-tint: hsl(20 100% 30%)
		.content section::before
			filter: invert(1)

@each $pg in $pages
	body[current="#{$pg}"] [page-bg="#{$pg}"]
		opacity: 1

// # ----------------------------------------
// # Effects
// # ----------------------------------------
//* In-site links
a[page-link], a[section-link]
	background-image: linear-gradient(to right, var(--pg-acc-txt, --pg-acc), var(--pg-acc-txt, --pg-acc)), linear-gradient(to right, var(--pg-txt), var(--pg-txt))
	background-size: 0% 1px, 100% 1px
	background-position: bottom left, bottom center
	background-repeat: no-repeat, repeat-x
	transition: background-size $tr-s ease
//* In-site link hover
a[page-link]:hover, a[section-link]:hover
	background-size: 100% 1px, 100% 1px
//* Sidebar page-links
.sidebar a[page-link]
	background-position: bottom center, bottom center
//* Current header in navigation
.header-pointer.current
	color: var(--pg-acc-txt, var(--pg-acc))
	font-weight: bold
//* Current section pointer
.header-pointer
	> *::before
		content: '•'
		display: inline-block
		position: absolute
		left: -1rem
		color: var(--pg-acc-txt, var(--pg-acc))
		font-weight: bold
		transform: translateX(-1rem)
		transition: transform .3s ease
	> *
		display: inline-block
	&.current > *
		transform: translateX(1rem)
		&::before
			transform: translateX(0)
//* Sidebar navigation dividers
.sidebar .header-pointer + .header-pointer
	position: relative
	&::after
		content: ''
		position: absolute
		inset: 0
		right: -.5rem
		border-image: lg(left, 'white, transparent')
		border-image-slice: 1
		border-top: solid 1px
		opacity: .2
//* Dropdown button hover
#topnav .dropdown button
	position: relative
	&::before
		content: ''
		position: absolute
		inset: 0
		background-image: linear-gradient(to right, $t, var(--pg-txt-i), $t)
		background-position: center center
		background-size: 100% 0%
		background-repeat: no-repeat
		opacity: .5
		z-index: -1
	&:hover::before
		background-size: 100% 100%
//* Content section smoke background
.content section
	position: relative
	&::before
		content: ''
		position: absolute
		inset: 0
		background-image: url(assets/smoke-bg.png), linear-gradient(to right, $t, rgb(0 0 0 / 30%), $t)
		background-size: 100% auto
		animation: bg-vert-scroll 1024s linear infinite
		z-index: -1
//* Text shadow where necessary
.ts-b
	text-shadow: 0 0 .5em var(--pg-txt-i)
//* Tile hover effect
.tiled .tile
	position: relative
	&::before
		content: ''
		position: absolute
		inset: -.5rem
		background-image: radial-gradient(ellipse at center, transparent 30%,var(--pg-txt))
		// background-color: var(--pg-txt)
		z-index: -1
		border-radius: 100%
		opacity: .3
		filter: url(#paper)
	&:hover::before
		opacity: .5
		transform: scale(1.1)
//* Section header decoration
.page .content
	> h1, > h2, > h3
		position: relative
		&::before, &::after
			--size: 10rem
			--height: 100%
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%)
			height: var(--height)
			width: var(--size)
			background-color: var(--pg-acc)
			border-top-right-radius: 		70%
			border-bottom-right-radius: 	70%
			mask-image: lg(left, 'white, transparent')
			background-image: url(assets/leafveinhalf.png)
			background-size: 100% auto
			background-position: right center
			background-blend-mode: overlay
		&::before
			margin-left: calc(var(--size) * -1 - 1rem)
		&::after
			margin-left: 1rem
			transform: translateY(-50%) rotate(180deg)
	> h1
		&::before, &::after
			--size: calc(100% / 2 * .8)
			--height: 1rem
			filter: url(#wavyh1) blur(.6px)
	> h2
		&::before, &::after
			--size: calc(100% / 2 * .5)
			--height: .6rem
			filter: url(#wavyh2) blur(.6px)
	> h3
		&::before, &::after
			--size: calc(100% / 2 * .3)
			--height: .3rem
			filter: url(#wavyh3) blur(.6px)

//# ----------------------------------------
//# Transitions
//# ----------------------------------------
#topnav
	transition: color $tr-l ease
	button, .dropdown
		transition: background $tr-l ease, transform $tr-s ease
	.dropdown button::before
		transition: background $tr-s ease
.page
	transition: transform $tr-vl ease, opacity $tr-vl ease, color $tr-s ease
	> .sidebar,
	&:not(.content-only) > .content
		transition: transform $tr-vl ease
	&.tiled > .tile,
	.tiled > .tile
		transition: transform $tr-vl ease, opacity $tr-vl ease
		&::before
			transition: transform $tr-s ease, opacity $tr-s ease
.page .sidebar .header-pointer
	transition: color $tr-s ease
	> *
		transition: transform $tr-s ease
.page .content
	> h1, > h2, > h3
		&::before, &::after
			transition: background $tr-vl ease
[page-bg]
	transition: opacity $tr-vl ease

//# ----------------------------------------
//# Borders
//# ----------------------------------------
nav#topnav
	border-bottom: solid 1px
	> div:not(:first-child) > button
		border-left: solid 1px
	> div > .dropdown
		border: solid 1px
		border-top: none
.sidebar
	border-image: lg(bottom, 'currentColor, transparent')
	border-image-slice: 1
	border-right: solid 1px
.page:not(.content-only) .content
	border-image: lg(bottom, 'currentColor, transparent')
	border-image-slice: 1
	border-left: solid 1px

// # ----------------------------------------
// # Text
// # ----------------------------------------
body
	font-family: 'Dosis'
	font-weight: 400
header, .tile
	font-family: 'IM Fell English'
	h1
		font-size: 3rem
nav#topnav > div > button
	font-size: 1.5rem
.sidebar
	color: white
	.header
		font-weight: bold
	.last-updated
		text-align: center
.content //* Page section headers
	> h1, > h2, > h3
		color: white
	> h1
		font-size: 1.8rem
	> h2
		font-size: 1.5rem
	> h3
		font-size: 1.2rem
header, .tile //* Page headers and tiles
	h1
		text-align: center
	h2
		font-weight: normal
		font-style: italic
.page > header > h1 //* Section header in pages with tiles
	font-size: 1.5rem

//# ----------------------------------------
//# Styles
//# ----------------------------------------
nav#topnav
	position: relative
	background-color: var(--pg-acc)
	z-index: 10
	> div > button
		position: relative
		background-color: var(--pg-acc)
		background-image: lg(top, 'rgba(0 0 0 / 30%), transparent')
		z-index: 2
	.dropdown
		position: relative
		background-color: var(--pg-acc)
		background-image: lg(bottom, 'rgba(0 0 0 / 40%), rgba(0 0 0 / 30%)')
		border-bottom-left-radius: .4rem
		border-bottom-right-radius: .4rem
		z-index: -1
.sidebar
	background-color: rgb(0 0 0 / 80%)
	backdrop-filter: blur(.5rem) url(#glass)
	.header-pointer i
		font-size: .9em
	.credit a
		color: inherit
.content
	header
		@extend .ts-b
		margin-bottom: 2rem
	> h1, > h2, > h3
		// filter: drop-shadow(0 0 .5rem var(--pg-txt-i))
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.22))
		box-shadow: 0 0 5rem 0.3rem rgb(0 0 0)
		clip-path: polygon(-1000% 0%, 1000% 0%, 1000% 100%, -1000% 100%, -1000% 0%)
	section.subcolumns
		> :not(.escape)
			border-right: solid 1px
			border-image: lg(top, 'transparent, var(--pg-acc) 40%, var(--pg-acc) 60%, transparent')
			border-image-slice: 1
			&:first-of-type
				padding-left: 0
			&:last-of-type
				padding-right: 0
				border: none

//# ----------------------------------------
//# Specifics
//# ----------------------------------------
#ras
	section.subcolumns
		> :first-of-type:nth-last-of-type(2) p b:not(.escape)
			color: hsl(160 100% 40%)
		> :nth-of-type(2):last-of-type p b:not(.escape)
			color: hsl(274 100% 69%)
#kitsunes
	section.subcolumns
		> :first-of-type:nth-last-of-type(2) p b:not(.escape)
			color: hsl(44 100% 51%)
		> :nth-of-type(2):last-of-type p b:not(.escape)
			color: hsl(341 100% 63%)