@use "sass:string"
@use "sass:meta"

// //# ----------------------------------------
// //# Imports
// //# ----------------------------------------
@import '_variables.sass'

// //! ----------------------------------------
// //! Asset Switch
// //! ----------------------------------------
// - Production
// $smoke-bg: 'https://rustygentleman.github.io/Worldbuilding/assets/smoke-bg.webp'
// $leafveinhalf: 'https://rustygentleman.github.io/Worldbuilding/assets/leafveinhalf.webp'
// $createlink: 'https://static.tumblr.com/k0xpxi3/x5Lrwtr2p/createlink.png'
// $bg-world: 'https://static.tumblr.com/k0xpxi3/PbXrx5ti0/bg-world.jpg'
// $bg-ras: 'https://rustygentleman.github.io/Worldbuilding/assets/bg-ras.webp'
// $bg-kitsunes: 'https://rustygentleman.github.io/Worldbuilding/assets/bg-kitsunes.webp'
// $bg-whisperwoodforest: 'https://rustygentleman.github.io/Worldbuilding/assets/bg-whisperwoodforest.webp'
// $bg-magicsystem: 'https://rustygentleman.github.io/Worldbuilding/assets/bg-magicsystem.webp'
// $bg-schoolsofmagic: 'https://rustygentleman.github.io/Worldbuilding/assets/bg-schoolsofmagic.webp'
// $bg-home: 'https://rustygentleman.github.io/Worldbuilding/assets/bg-home.webp'

// - Development
$smoke-bg: '../assets/smoke-bg.webp'
$leafveinhalf: '../assets/leafveinhalf.webp'
$createlink: '../assets/createlink.png'
$bg-ras: '../assets/bg-ras.webp'
$bg-kitsunes: '../assets/bg-kitsunes.webp'
$bg-world: '../assets/bg-world.jpg'
$bg-whisperwoodforest: '../assets/bg-whisperwoodforest.webp'
$bg-magicsystem: '../assets/bg-magicsystem.webp'
$bg-schoolsofmagic: '../assets/bg-schoolsofmagic.webp'
$bg-home: '../assets/bg-home.webp'

// //# ----------------------------------------
// //# Mixins & Animations
// //# ----------------------------------------
@keyframes bg-vert-scroll
	0%
		background-position-y: 0
	100%
		background-position-y: 2000rem
@function lg($dir, $stops)
	@return linear-gradient(to $dir, string.unquote($stops))

//# ----------------------------------------
//# Defaults
//# ----------------------------------------
//* Button reset
button
	appearance: none
	color: inherit
	background: transparent
	border: none
	cursor: pointer
	font-family: inherit
	font-size: inherit
	font-weight: inherit
	text-align: inherit
a
	cursor: pointer
[page-bg]
	position: fixed
	width: 100vw
	height: 100vh
	opacity: 0
	z-index: -10
	background-size: cover
	background-position: center center
//* Scrollbar
.content, .page
	&::-webkit-scrollbar-track
		background-color: var(--pg-bg, black)
	&::-webkit-scrollbar
		width: 12px
	&::-webkit-scrollbar-thumb
		background-image: lg(bottom, 'var(--pg-acc-d), var(--pg-acc), var(--pg-acc-d)')
		background-color: var(--pg-acc)
		box-shadow: none
		border-radius: 0
		border: none
		border-inline: solid 1px var(--pg-bg, black)
		transition: background $tr-vl ease
//* Popover element
popover[data-preview]
	background-image: linear-gradient(to right, var(--pg-acc-txt, --pg-acc), var(--pg-acc-txt, --pg-acc)), linear-gradient(to right, currentColor 50%, transparent 50%)
	background-size: 0% 1px, 4px 1px

//# ----------------------------------------
//# Page colors
//# ----------------------------------------
body
	--pg-bg: #111
	--pg-acc: crimson
	--pg-acc-d: hsl(348 83% 30%)
	--pg-acc-h: 348
	--pg-acc-txt: crimson
	--pg-txt: white
	--pg-txt-i: black
	--pg-tint: hsl(0 100% 100%)
	--pg-sec-invert: 0
	--nav-txt: white
	--nav-txt-i: black
	--pg-sec-h: 290
	--pg-sec-b: 2
	--pg-sec-s: 1
	--pg-sec-i: 0
	color: var(--pg-txt)
	background-color: var(--pg-bg)

	--c-foxfire-d: hsl(220 100% 50%)
	--c-foxfire-l: hsl(203 100% 70%)
	&[current='home']
		--pg-acc: hsl(115,45%,50%)
		--pg-acc-hsl: 115 45% 50%
		--pg-acc-txt: hsl(115 45% 50%)
		--pg-acc-d: hsl(115,40%,31%)
		--pg-txt: white
		--pg-sec-h: 100
		--pg-sec-b: 2.3
	&[current='ras']
		$c-ras: rgb(0,157,255)
		--pg-acc: hsl(203 100% 50%)
		--pg-acc-hsl: 203 100% 50%
		--pg-acc-txt: hsl(203 100% 60%)
		--pg-acc-d: hsl(203 100% 30%)
		--pg-txt: white
		--pg-tint: hsl(50 100% 25%)
		--pg-sec-h: 230
		--pg-sec-b: 2
	&[current='kitsunes']
		--pg-acc: hsl(5 100% 30%)
		--pg-acc-hsl: 5 100% 30%
		--pg-acc-txt: hsl(5 100% 55%)
		--pg-acc-d: hsl(5 100% 20%)
		--pg-txt: white
		--pg-sec-h: 20
		--pg-sec-b: 3
		// --pg-tint: hsl(20 100% 30%)
	&[current='world']
		--pg-bg: hsl(32 24% 57%)
		--pg-acc: hsl(32 24% 57%)
		--pg-acc-hsl: 32 24% 57%
		--pg-acc-txt: hsl(32 24% 57%)
		--pg-acc-d: hsl(32 24% 32%)
		--pg-txt: black
		--pg-txt-i: white
		--pg-sec-h: 0
		--pg-sec-b: 0
		// --pg-tint: hsl(20 100% 30%)
	&[current='whisperwoodforest']
		// --pg-bg: hsl(32 24% 57%)
		--pg-acc: hsl(342,99%,37%)
		--pg-acc-hsl: 342 99% 37%
		--pg-acc-txt: hsl(347,95%,46%)
		--pg-acc-d: hsl(342 99% 25%)
		// --pg-txt: black
		// --pg-tint: hsl(20 100% 30%)
		--pg-sec-h: 0
		--pg-sec-b: 50
	&[current='magicsystem']
		--pg-acc: hsl(268 100% 60%)
		--pg-acc-hsl: 268 100% 50%
		--pg-acc-txt: hsl(268 100% 69%)
		--pg-acc-d: hsl(268 100% 30%)
		--pg-sec-h: 200
		--pg-sec-b: 2
	&[current='schoolsofmagic']
		--pg-acc: hsl(234,100%,60%)
		--pg-acc-hsl: 234 100% 50%
		--pg-acc-txt: hsl(234 100% 69%)
		--pg-acc-d: hsl(234 100% 30%)
		--pg-sec-h: 270
		--pg-sec-b: 1.5
	&[current='elves']
		--pg-acc: hsl(60,81%,90%)
		--pg-acc-hsl: 60 100% 97%
		--pg-acc-txt: hsl(60,61%,71%)
		--pg-acc-d: hsl(60,11%,65%)
		--nav-txt: black
		--nav-txt-i: white
		--pg-sec-h: 65
		--pg-sec-b: 3.2
		--pg-sec-s: .4
	&[current='elvenempire']
		--pg-acc: hsl(54,76%,59%)
		--pg-acc-hsl: 203 100% 50%
		--pg-acc-txt: hsl(54,81%,61%)
		--pg-acc-d: hsl(54,61%,27%)
		--pg-txt: white
		--pg-tint: hsl(50 100% 25%)
		--pg-sec-h: 69
		--pg-sec-b: 5
		--pg-sec-s: 0
	&[current='fauna']
		--pg-acc: hsl(0,90%,40%)
		--pg-acc-hsl: 0 90% 40%
		--pg-acc-txt: hsl(0 90% 50%)
		--pg-acc-d: hsl(0 90% 30%)
		--pg-sec-h: 0
		--pg-sec-b: .5
	&[current='flora']
		--pg-acc: hsl(115,76%,43%)
		--pg-acc-hsl: 115 76% 43%
		--pg-acc-txt: hsl(115 76% 43%)
		--pg-acc-d: hsl(115 76% 30%)
		--pg-sec-h: 100
	&[current='crestbendharbor']
		--pg-acc: hsl(212,100%,55%)
		--pg-acc-hsl: 212 100% 55%
		--pg-acc-txt: hsl(212 100% 55%)
		--pg-acc-d: hsl(212 100% 30%)
		--pg-sec-h: 240
		--pg-sec-b: 2
	&[current='wolfkins']
		--pg-acc: hsl(246,100%,18%)
		--pg-acc-hsl: 246 100% 18%
		--pg-acc-txt: hsl(216,100%,50%)
		--pg-acc-d: hsl(246 100% 5%)
		--pg-sec-h: 240
		--pg-sec-b: 1
@each $pg in $pages
	##{$pg}.current ~ [page-bg="#{$pg}"]
		opacity: 1
	body[current="#{$pg}"] #topnav .dropdown button[page-link="#{$pg}"]::before
		background-image: linear-gradient(to right, $t, var(--nav-txt), $t)
		background-position: center center
		background-size: 100%
		background-repeat: no-repeat

// # ----------------------------------------
// # Effects
// # ----------------------------------------
//* In-site links
a[page-link], a[section-link], popover, #history a b
	background-image: linear-gradient(to right, var(--pg-acc-txt, --pg-acc), var(--pg-acc-txt, --pg-acc)), linear-gradient(to right, currentColor, currentColor)
	background-size: 0% 1px, 4px 1px
	background-position: bottom left, bottom left
	background-repeat: no-repeat, repeat-x
	transition: background-size $tr-s ease !important
//* In-site link hover
a[page-link], a[section-link], popover, #history a
	&:hover, &:focus
		&, b
			background-size: 100% 1px, 4px 1px
			outline: none
//* Current header in navigation
.header-pointer.current
	color: var(--pg-acc-txt, var(--pg-acc))
	font-weight: bold
//* Current section pointer and hover/focus
.header-pointer
	> :not(b, span)::before
		content: ''
	> *::before
		content: '•'
		display: inline-block
		position: absolute
		left: -1.2rem
		color: var(--pg-acc-txt, var(--pg-acc))
		font-weight: bold
		transform: translateX(-1rem)
		transition: transform $tr-s ease
	> *
		display: inline-block
		position: relative
	&.current
		filter: none !important
		> :not(b, span)
			transform: translateX(.5rem)
		> *
			transform: translateX(.5rem)
			&::before
				transform: translateX(.5rem)
	&:hover,
	&:focus-within
		outline: none
		position: relative
		&::before
			content: ''
			position: absolute
			inset: 1px 0 0 0
			background-image: lg(left, 'var(--pg-acc-txt, var(--pg-acc)), transparent')
			opacity: .5
//* Sidebar navigation dividers
.sidebar .header-pointer + .header-pointer
	position: relative
	&::after
		content: ''
		position: absolute
		inset: 0
		right: -.5rem
		border-image: lg(left, 'white, transparent')
		border-image-slice: 1
		border-top: solid 1px
		opacity: .2
//* Dropdown button hover & disabled
#topnav
	> div > button
		// background-image: linear-gradient(to top, rgba(0 0 0 / 30%), transparent), radial-gradient(closest-side, $t, $t)
		// background-position: center center
		// background-repeat: no-repeat
		// &:focus-within
		// 	background-image: linear-gradient(to top, rgba(0 0 0 / 30%), transparent), radial-gradient(closest-side, var(--nav-txt-i), $t)
		// 	outline: none
	.dropdown button
		position: relative
		&:disabled
			font-style: italic
			text-decoration: line-through
			cursor: default
		&:not(:disabled)::before
			content: ''
			position: absolute
			inset: 0
			background-image: linear-gradient(to right, $t, var(--nav-txt-i), $t)
			background-position: center center
			background-size: 100% 0%
			background-repeat: no-repeat
			opacity: .5
			z-index: -1
		&:not(:disabled):hover,
		&:not(:disabled):focus-within
			outline: none
			&::before
				background-size: 100% 100%
//* Content section smoke background
.content section
	position: relative
	&::before
		content: ''
		position: absolute
		inset: 0
		background-image: url($smoke-bg), linear-gradient(to right, $t, rgb(0 0 0 / 30%), $t)
		background-size: 100% auto
		animation: bg-vert-scroll 2048s linear infinite
		z-index: -1
//* Text shadow where necessary
.ts-b
	text-shadow: 2px 2px .5em var(--pg-txt-i)
//* Tile hover effect
.tiled .tile
	position: relative
	&::before
		content: ''
		position: absolute
		inset: -.5rem
		background-image: radial-gradient(ellipse at center, transparent 30%,var(--pg-txt))
		// background-color: var(--pg-txt)
		z-index: -1
		border-radius: 100%
		opacity: .3
		filter: url(#paper)
	&:hover::before
		opacity: .5
		transform: scale(1.1)
//* Section header decoration
.page .content
	> h1, > h2, > h3
		--w: 20rem
		--h: 1rem
		display: flex
		justify-content: center
		align-items: center
		> div
			position: relative
			display: flex
			justify-content: center
			align-items: center
			.h-left, .h-right
				width: var(--w)
				height: var(--h)
				position: absolute
				top: 50%
				transform: translateY(-50%)
				border-top-right-radius: 5rem
				border-bottom-right-radius: 5rem
				background-color: var(--pg-acc)
				background-image: linear-gradient(to bottom, $t, rgb(255 255 255 / .5), $t)
				background-blend-mode: overlay
				mask-image: lg(left, 'white, white, transparent')
				overflow: hidden
				&::after
					content: ''
					position: absolute
					inset: 0
					// border-block: solid .3rem red
					background-image: url(../assets/leafvein.webp)
					background-size: 12rem
					mask-image: lg(left, 'transparent, white, white')
					filter: hue-rotate(calc(var(--pg-sec-h) * 1deg)) brightness(var(--pg-sec-b)) string.unquote('saturate(var(--pg-sec-s, 1))') string.unquote('invert(var(--pg-sec-i))')
			.h-left
				right: calc(100% + 1rem)
			.h-right
				left: calc(100% + 1rem)
				transform: translateY(-50%) rotateY(180deg)
	> h1
		--w: 20rem
		--h: 1.5rem
		.h-left, .h-right
			filter: url(#wavyh1) blur(.5px)
	> h2
		--w: 15rem
		--h: .8rem
		.h-left, .h-right
			filter: url(#wavyh2) blur(.5px)
	> h3
		--w: 15rem
		--h: .4rem
		.h-left, .h-right
			filter: url(#wavyh3) blur(.5px)
//* "Create link" button on section headers
.page .content
	> h1, > h2, > h3
		&:has(+section:hover) button,
		&:has(+section:focus-within) button,
		&:hover button,
		&:focus-within button
			opacity: 1
			margin-left: .3rem
		button
			height: 1.5rem
			display: flex
			aspect-ratio: 1
			// background-image: url($createlink)
			background-size: cover
			margin-left: -1rem
			padding: 0
			transition: opacity $tr-s ease, transform $tr-s ease, margin $tr-s ease
			opacity: 0
			z-index: 10
			svg
				width: 100%
				height: 100%
//* Navigation blink
section.blink *, section .blink
	text-shadow: 0 0 1rem currentColor, 0 0 1rem currentColor
	// transition: text-shadow $tr-s ease $tr-s !important
//* Text selection
::selection
	color: var(--nav-txt)
	background: var(--pg-acc)
	// text-shadow: 0 0 3px var(--pg-txt-i), 0 0 3px var(--pg-txt-i), 0 0 3px var(--pg-txt-i)
//* Navbar second color
#topnav
	> div > button::before
		content: ''
		position: absolute
		inset: 0
		// background: red
		background-image: url(../assets/leafvein.webp)
		background-size: auto 10rem
		background-blend-mode: overlay
		filter: hue-rotate(calc(var(--pg-sec-h) * 1deg)) brightness(var(--pg-sec-b)) string.unquote('saturate(var(--pg-sec-s, 1))') string.unquote('invert(var(--pg-sec-i))') blur(.6px) url(#wavyh1)
		mask-image: linear-gradient(to top, $t 20%, rgb(255 255 255 / .5) 80%, white 100%)
		transition: background $tr-l ease, filter $tr-l ease
		z-index: -2
//* Sidebar navigation tree thingies
.sidebar .left-scrollbar > div
	button:has(i, span)
		i, span
			&::after
				content: ''
				display: inline-block
				position: absolute
				right: calc(100% + .1rem)
				top: -100%
				bottom: 40%
				width: .4rem
				mask-image: linear-gradient(to bottom, $t, white)
				font-style: normal
				border-left: solid 1px
				border-bottom: solid 1px
				transform: translateX(0)
				transition: transform $tr-s ease
				opacity: .4
		&.current
			> *::after
				transform: translateX(-.5rem)

//# ----------------------------------------
//# Transitions
//# ----------------------------------------
body
	transition: font-size $tr-s ease, line-height $tr-s ease, letter-spacing $tr-s ease, word-spacing $tr-s ease
.toggle
	transition: transform $tr-vl ease, border $tr-vl ease, background $tr-s
	&.off
		transition: transform $tr-vl ease, border $tr-vl ease $tr-vl, background $tr-s $tr-l
	> span
		transition: inherit
#topnav
	transition: color $tr-l ease
	button, .dropdown
		transition: background $tr-l ease, transform $tr-l cubic-bezier(0.61, 1.57, 0.4, 0.76)
	.dropdown button
		&::before
			transition: background $tr-s ease $tr-vs
		&:hover,
		&:focus
			&::before
				transition: background 0s ease 0s
	> div
		&:hover > .dropdown,
		&:focus-within > .dropdown,
		.dropdown:hover,
		.dropdown:focus-within
			transition-delay: 0s
	#history
		transition: border $tr-l ease
.page
	transition: transform $tr-vl ease, opacity $tr-vl ease, color $tr-s ease
	&.tiled > .tile,
	.tiled > .tile
		transition: transform $tr-vl ease, opacity $tr-vl ease
		&::before
			transition: transform $tr-s ease, opacity $tr-s ease
	.sidebar
		transition: transform $tr-vl ease
		.header-pointer
			transition: color $tr-s ease, filter $tr-s ease
			> *
				transition: transform $tr-s ease
	.content
		transition: transform $tr-vl ease
		> h1, > h2, > h3
			&::before, &::after
				transition: background $tr-vl ease
		section, section *
			transition: text-shadow $tr-s ease, letter-spacing .1s ease, word-spacing .1s ease, line-height .1s ease
[page-bg]
	transition: opacity $tr-vl ease
#feedbackform, .btn-container>a.kofi-button
	transition: background $tr-s ease
#popover
	transition: opacity $tr-s ease, top $tr-s ease, left $tr-s ease
#settings
	transition: transform $tr-s ease
	#acsb label
		transition: background-color $tr-vs ease
		&::after
			transition: transform $tr-vs ease

//# ----------------------------------------
//# Borders
//# ----------------------------------------
nav#topnav
	> div:not(:first-child) > button
		border-left: solid 1px
	> div > .dropdown
		border: solid 1px
		border-top: none
	#history:not(:empty)
		border-block: solid 1px
		border-color: var(--nav-txt, inherit)
.sidebar
	border-image: lg(bottom, 'currentColor, transparent')
	border-image-slice: 1
	border-right: solid 1px
// .page:not(.content-only) .content
// 	border-image: lg(bottom, 'currentColor, transparent')
// 	border-image-slice: 1
// 	border-left: solid 1px

// # ----------------------------------------
// # Text
// # ----------------------------------------
header, .tile
	font-family: 'IM Fell English'
	h1
		font-size: 3em
#topnav
	> div > button
		font-size: 1.5em
		font-weight: 500
	.dropdown
		font-weight: 400
.sidebar
	color: white
	.header
		font-weight: bold
	.header-pointer
		b
			font-weight: 900
		span
			font-weight: 500
		i
			font-weight: 300
	.last-updated
		text-align: center
.content
	> h1, > h2, > h3
		color: white
	> h1
		font-size: 1.8rem
		font-weight: 900
	> h2
		font-size: 1.5rem
		font-weight: 500
	> h3
		font-style: italic
		font-size: 1.2rem
		font-weight: 300
	section
		line-height: 1.2em
		ul
			text-align: left
header, .tile //* Page headers and tiles
	h1
		text-align: center
	h2
		font-weight: normal
		font-style: italic
.page > header > h1 //* Section header in pages with tiles
	font-size: 1.5rem

//# ----------------------------------------
//# Settings
//# ----------------------------------------
body
	--t-fs: 0
	--t-lh: 0
	--t-ls: 0
	--t-ws: 0
	font-size: calc(1rem + 1px * var(--t-fs))
	font-family: 'Grenze'
	font-weight: 200
	.page .content section
		letter-spacing: calc(.1px * var(--t-ls))
		word-spacing: calc(1px * var(--t-ws))
		line-height: calc(1.2em + 1px * var(--t-lh))
	&.grenze
		font-family: 'Grenze', serif
		.page .content section
			line-height: calc(1.15em + 1px * var(--t-lh))
			font-size: calc(1.1rem + 1px * var(--t-fs))
		#home [section-id=changes] + section > ul ul::before
			--x: 1.54rem
	&.rasa
		font-family: 'Rasa', serif
		.page .content section
			line-height: calc(1.2em + 1px * var(--t-lh))
		#home [section-id=changes] + section > ul ul::before
			--x: 1.7rem
	&.ysabeau
		font-family: 'Ysabeau Infant', sans-serif
		.page .content section
			letter-spacing: calc(.1px * var(--t-ls) - .5px)
		#home [section-id=changes] + section > ul ul::before
			--x: 1.55rem
	&.dosis
		font-family: 'Dosis', sans-serif
		.page .content section
			line-height: calc(1.2em + 1px * var(--t-lh))
		#home [section-id=changes] + section > ul ul::before
			--x: 1.6rem
	&.no-anims
		.page .content
			> h1
				.h-left, .h-right
					filter: url(#wavyh1s) blur(0.5px)
			> h2
				.h-left, .h-right
					filter: url(#wavyh2s) blur(0.5px)
			> h3
				.h-left, .h-right
					filter: url(#wavyh3s) blur(0.5px)
			section::before
				animation-play-state: paused
	&.flat-section-background
		.content section::before
			background-image: linear-gradient(to right, $t, rgb(36 36 36) .7rem, rgb(36 36 36) calc(100% - .7rem), $t)

//# ----------------------------------------
//# Styles
//# ----------------------------------------
main
	position: relative
	.toggle
		width: fit-content
		aspect-ratio: 1
		position: absolute
		top: 0
		left: min(11rem, 30vw)
		background-color: $t
		transform: translateX(-100%)
		z-index: 1
		border: solid 0
		border-right: solid 1px $t
		border-bottom: solid 1px $t
		> span
			display: inline-block
			color: white
		&.off
			background-color: rgb(0 0 0 / 0.8)
			transform: translateX(max(-11rem, -30vw))
			border-right: solid 1px currentColor
			border-bottom: solid 1px currentColor
			> span
				transform: rotateY(180deg)
nav#topnav
	position: relative
	background-color: var(--pg-acc)
	color: var(--nav-txt, inherit)
	z-index: 10
	> div > button
		position: relative
		background-color: var(--pg-acc)
		z-index: 2
	.dropdown
		position: relative
		background-color: var(--pg-acc)
		background-image: lg(bottom, 'rgba(0 0 0 / 40%), rgba(0 0 0 / 30%)')
		border-bottom-left-radius: .4rem
		border-bottom-right-radius: .4rem
		z-index: -1
	#history
		position: relative
		color: white
		background-color: rgb(0 0 0 / .5)
		backdrop-filter: blur(6px)
		> a
			position: relative
			background-image: none
			&::after
				content: '>'
				position: absolute
				left: calc(100% + 1rem)
				top: 50%
				transform: translate(-50%, -50%)
				font-weight: bold
			&:last-child::before
				content: 'Here'
				display: block
				position: absolute
				left: calc(100% + 2rem)
				top: 50%
				transform: translate(-50%, -50%)
				font-weight: bold
.sidebar
	background-color: rgb(0 0 0 / 80%)
	backdrop-filter: blur(.5rem) url(#glass)
	flex-shrink: 0
	overflow: hidden
	.header-pointer i
		font-size: .9em
	.header-pointer
		line-height: 1rem
		&:has(>span)
			margin-left: .5rem
		&:has(>i)
			margin-left: 1rem
	&.collapsed
		transform: translateX(-100%) !important
		+ .content
			width: 100vw
			transform: translateX(calc(-1 * min(10rem, 30vw) - .5rem)) !important
.content
	width: calc(100vw - (min(10.5rem, 30vw) + .5rem))
	header
		@extend .ts-b
		margin-bottom: 2rem
	> h1, > h2, > h3
		// filter: drop-shadow(0 0 .5rem var(--pg-txt-i))
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5))
		box-shadow: 0 0 5rem 1.4rem rgb(0 0 0)
		clip-path: polygon(-1000% 0%, 1000% 0%, 1000% 100%, -1000% 100%, -1000% 0%)
	section
		text-shadow: 0 0 .5rem var(--pg-txt-i)
		&.subcolumns
			> *
				border-right: solid 1px
				border-image: lg(top, 'transparent, var(--pg-acc) 40%, var(--pg-acc) 60%, transparent')
				border-image-slice: 1
				&:first-of-type
					padding-left: 0
				&:last-of-type
					padding-right: 0
					border: none
	figure
		padding: 1rem
		img
			max-height: 40vh
			max-width: 100%
		figcaption
			font-style: italic
			font-size: .8em
.left-scrollbar
	&::-webkit-scrollbar
		width: 5px
	&::-webkit-scrollbar-track
		background-color: transparent
	&::-webkit-scrollbar-thumb
		background-color: var(--pg-acc)
		border-radius: 5px
	&::-webkit-scrollbar-button
		background-color: var(--pg-acc)
		height: 5px
		border-radius: 100%
.credit a
	color: inherit
.sr-only
	position: absolute
	width: 1px
	height: 1px
	padding: 0
	margin: -1px
	overflow: hidden
	clip: rect(0, 0, 0, 0)
	white-space: nowrap
	border-width: 0
#popover
	background-color: rgb(0 0 0 / .5)
	// background-color: var(--pg-bg)
	border: outset 5px
	border-radius: .5rem
	--x: 0
	--y: 0
	left: min(calc(1rem + var(--x)), calc(100vw - 20.5rem))
	top: min(calc(-1rem + var(--y)), 100vh)
	border-color: var(--pg-acc)
	box-shadow: 0.2rem 0.2rem 1.6rem -8px black, inset 0 0 8rem -3rem black
	backdrop-filter: blur(20px) url(#glass) contrast(1.1)
	> *:not(:last-child)
		border-image: lg(right, 'transparent, var(--pg-acc), transparent')
		border-image-slice: 1
		border-bottom: solid 1px
	.title-subtitle
		font-family: 'IM Fell English'
		font-size: 1.2em
		b
			font-size: 1.2em
			margin-bottom: -.3rem
	.section
		display: flex
		justify-content: center
		font-size: 1.2em
		font-weight: bold
		:nth-child(2)
			font-size: .8em
			font-weight: normal
			font-style: italic
			&::before
				content: '-'
				margin: .5rem
	.preview p
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
	img
		max-width: 100%
		max-height: 13rem
		border-radius: 1rem
#settings
	line-height: 1.6em
	> div
		position: relative
		&::after
			content: ''
			position: absolute
			inset: 0
			right: -.5rem
			border-image: lg(right, 'white, transparent')
			border-image-slice: 1
			border-bottom: solid 1px
			opacity: 1
			pointer-events: none
	#text
		.grid
			place-items: center
			place-content: center
			> div
				place-items: center
				place-content: center
				input
					width: 3rem
					box-sizing: border-box
					border: none
					border-bottom: solid 1px currentColor
					background-color: $t
					color: inherit
					text-align: center
	#font
		.grid
			place-items: center
			place-content: center
			input
				display: none
				&:checked + label
					border-color: $cc
			> label
				height: 4rem
				width: 100%
				box-sizing: border-box
				background-color: rgb(100 100 100 / .4)
				font-size: 1rem
				border-radius: .3rem
				place-items: center
				place-content: center
				user-select: none
				border: solid 1px $t
				backdrop-filter: blur(5px) url(#glass)
				&:hover
					background-color: rgb(100 100 100 / .8)
				> :first-child
					font-size: 3rem
					line-height: 1em
				> :last-child
					line-height: 1em
	#acsb
		> div
			display: flex
			justify-content: space-between
			align-items: center
			input[type=checkbox]
				width: 0px
				height: 0px
				padding: 0
				margin: 0
				visibility: hidden
				pointer-events: none
				+ label
					position: relative
					height: .8rem
					width: 1.6rem
					border-radius: 1rem
					border: solid 1px
					z-index: 2
					&::after
						content: ''
						position: absolute
						top: -1px
						left: -1px
						height: 100%
						aspect-ratio: 1
						background-color: black
						border-radius: 1rem
						border: inherit
				&:checked + label
					background-color: white
					&::after
						transform: translateX(.8rem)

//# ----------------------------------------
//# Specifics
//# ----------------------------------------
#world
	> :last-child
		margin-bottom: 5rem
	> div > span
		font-family: 'IM Fell English'
		font-size: 1.5rem
		font-weight: bold
		text-align: center
#home
	#feedbackform, .btn-container>a.kofi-button
		padding: .1rem .8rem !important
		border: .1rem solid white !important
		border-radius: .5rem
		background-color: black !important
		color: white !important
		font-family: inherit !important
		font-weight: bold !important
		font-size: 1em !important
		line-height: initial !important
		min-width: initial !important
		text-decoration: none
		display: flex !important
		align-items: center
		&:hover,
		&:focus-within
			background-color: #222 !important
			opacity: 1
			color: inherit
	.btn-container
		min-width: initial !important
	span.kofitext
		line-height: initial !important
	.kofitext img.kofiimg
		height: 1rem !important
		width: auto !important
	[section-id='changes'] + section > ul
		padding-inline-start: 1rem
		ul
			position: relative
			&::before
				content: ''
				position: absolute
				inset: 0
				top: .5lh
				bottom: .5lh
				--x: 1.6rem
				background-image: linear-gradient(to right, transparent calc(var(--x) - 1px), currentColor calc(var(--x) - 1px), calc(var(--x) + 0px), transparent calc(var(--x) + 0px))
				opacity: .5
				z-index: -1
#ras
	section.subcolumns
		> div.phy
			p b:not(.escape)
				color: hsl(160 100% 40%)
		> div.psy
			p b:not(.escape)
				color: hsl(214,94%,56%)
		> div.mag
			p b:not(.escape)
				color: hsl(249,96%,68%)
#kitsunes
	section.subcolumns
		> div.phy
			p b:not(.escape)
				color: hsl(27,100%,51%)
		> div.psy
			p b:not(.escape)
				color: hsl(51,100%,63%)
		> div.mag
			p b:not(.escape)
				color: hsl(352,100%,63%)
#elves
	section.subcolumns
		> div.phy
			p b:not(.escape)
				color: hsl(204,78%,82%)
		> div.psy
			p b:not(.escape)
		> div.mag
			p b:not(.escape)
				color: hsl(60,89%,89%)

[page-bg='ras']
	background-image: url($bg-ras)
[page-bg='kitsunes']
	background-image: url($bg-kitsunes)
[page-bg='world']
	background-image: url($bg-world)
[page-bg='whisperwoodforest']
	background-image: url($bg-whisperwoodforest)
[page-bg='magicsystem']
	background-image: url($bg-magicsystem)
[page-bg='schoolsofmagic']
	background-image: url($bg-schoolsofmagic)
[page-bg='home']
	background-image: url($bg-home)