@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@-webkit-keyframes bg-vert-scroll {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 2000rem;
  }
}
@keyframes bg-vert-scroll {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 2000rem;
  }
}
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
}

a {
  cursor: pointer;
}

[page-bg] {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -10;
  background-size: cover;
  background-position: center center;
}

.content::-webkit-scrollbar-track, .page::-webkit-scrollbar-track {
  background-color: transparent;
}
.content::-webkit-scrollbar, .page::-webkit-scrollbar {
  width: 10px;
}
.content::-webkit-scrollbar-thumb, .page::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--pg-acc-d), var(--pg-acc), var(--pg-acc-d));
  background-color: var(--pg-acc);
  box-shadow: none;
  border-radius: 0;
  border: none;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
}

body {
  --pg-bg: #111;
  --pg-acc: crimson;
  --pg-acc-d: hsl(348 83% 30%);
  --pg-acc-h: 348;
  --pg-acc-txt: crimson;
  --pg-txt: white;
  --pg-txt-i: black;
  --pg-tint: hsl(0 100% 100%);
  --pg-sec-invert: 0;
  --nav-txt: white;
  --nav-txt-i: black;
  color: var(--pg-txt);
  background-color: var(--pg-bg);
  --c-foxfire-d: hsl(220 100% 50%);
  --c-foxfire-l: hsl(203 100% 70%);
}
body[current=home] {
  --pg-acc: hsl(201,39%,85%);
  --pg-acc-hsl: 201 39% 85%;
  --pg-acc-txt: hsl(201 39% 85%);
  --pg-acc-d: hsl(201 39% 50%);
  --pg-txt: white;
  --nav-txt: black;
  --nav-txt-i: white;
}
body[current=ras] {
  --pg-acc: hsl(203 100% 50%);
  --pg-acc-hsl: 203 100% 50%;
  --pg-acc-txt: hsl(203 100% 60%);
  --pg-acc-d: hsl(203 100% 30%);
  --pg-txt: white;
  --pg-tint: hsl(50 100% 25%);
}
body[current=kitsunes] {
  --pg-acc: hsl(5 100% 30%);
  --pg-acc-hsl: 5 100% 30%;
  --pg-acc-txt: hsl(5 100% 55%);
  --pg-acc-d: hsl(5 100% 20%);
  --pg-txt: white;
}
body[current=world] {
  --pg-bg: hsl(32 24% 57%);
  --pg-acc: hsl(32 24% 57%);
  --pg-acc-hsl: 32 24% 57%;
  --pg-acc-txt: hsl(32 24% 57%);
  --pg-acc-d: hsl(32 24% 32%);
  --pg-txt: black;
  --pg-txt-i: white;
}
body[current=whisperwoodforest] {
  --pg-acc: hsl(352,89%,34%);
  --pg-acc-hsl: 352 89% 41%;
  --pg-acc-txt: hsl(352 100% 41%);
  --pg-acc-d: hsl(352 89% 25%);
}
body[current=magicsystem] {
  --pg-acc: hsl(268 100% 60%);
  --pg-acc-hsl: 268 100% 50%;
  --pg-acc-txt: hsl(268 100% 69%);
  --pg-acc-d: hsl(268 100% 30%);
}
body[current=schoolsofmagic] {
  --pg-acc: hsl(234,100%,60%);
  --pg-acc-hsl: 234 100% 50%;
  --pg-acc-txt: hsl(234 100% 69%);
  --pg-acc-d: hsl(234 100% 30%);
}
body[current=elves] {
  --pg-acc: hsl(60,81%,90%);
  --pg-acc-hsl: 60 100% 97%;
  --pg-acc-txt: hsl(60,61%,71%);
  --pg-acc-d: hsl(60,11%,65%);
  --nav-txt: black;
  --nav-txt-i: white;
}
body[current=elvenempire] {
  --pg-acc: hsl(54,76%,59%);
  --pg-acc-hsl: 203 100% 50%;
  --pg-acc-txt: hsl(54,81%,61%);
  --pg-acc-d: hsl(54,61%,27%);
  --pg-txt: white;
  --pg-tint: hsl(50 100% 25%);
}
body[current=fauna] {
  --pg-acc: hsl(0,90%,40%);
  --pg-acc-hsl: 0 90% 40%;
  --pg-acc-txt: hsl(0 90% 50%);
  --pg-acc-d: hsl(0 90% 30%);
}
body[current=flora] {
  --pg-acc: hsl(115,76%,43%);
  --pg-acc-hsl: 115 76% 43%;
  --pg-acc-txt: hsl(115 76% 43%);
  --pg-acc-d: hsl(115 76% 30%);
}

#home.current ~ [page-bg=home] {
  opacity: 1;
}

#world.current ~ [page-bg=world] {
  opacity: 1;
}

#whisperwoodforest.current ~ [page-bg=whisperwoodforest] {
  opacity: 1;
}

#magicsystem.current ~ [page-bg=magicsystem] {
  opacity: 1;
}

#schoolsofmagic.current ~ [page-bg=schoolsofmagic] {
  opacity: 1;
}

#fauna.current ~ [page-bg=fauna] {
  opacity: 1;
}

#flora.current ~ [page-bg=flora] {
  opacity: 1;
}

#characters.current ~ [page-bg=characters] {
  opacity: 1;
}

#ras.current ~ [page-bg=ras] {
  opacity: 1;
}

#riella.current ~ [page-bg=riella] {
  opacity: 1;
}

#races.current ~ [page-bg=races] {
  opacity: 1;
}

#kitsunes.current ~ [page-bg=kitsunes] {
  opacity: 1;
}

#elves.current ~ [page-bg=elves] {
  opacity: 1;
}

#elvenempire.current ~ [page-bg=elvenempire] {
  opacity: 1;
}

a[page-link], a[section-link] {
  background-image: linear-gradient(to right, var(--pg-acc-txt, --pg-acc), var(--pg-acc-txt, --pg-acc)), linear-gradient(to right, currentColor, currentColor);
  background-size: 0% 1px, 100% 1px;
  background-position: bottom left, bottom center;
  background-repeat: no-repeat, repeat-x;
  transition: background-size 0.3s ease;
}

a[page-link]:hover, a[page-link]:focus, a[section-link]:hover, a[section-link]:focus {
  background-size: 100% 1px, 100% 1px;
  outline: none;
}

.header-pointer.current {
  color: var(--pg-acc-txt, var(--pg-acc));
  font-weight: bold;
}

.header-pointer > *::before {
  content: "•";
  display: inline-block;
  position: absolute;
  left: -1rem;
  color: var(--pg-acc-txt, var(--pg-acc));
  font-weight: bold;
  transform: translateX(-1rem);
  transition: transform 0.3s ease;
}
.header-pointer > * {
  display: inline-block;
}
.header-pointer.current {
  filter: none !important;
}
.header-pointer.current > * {
  transform: translateX(1rem);
}
.header-pointer.current > *::before {
  transform: translateX(0);
}
.header-pointer:hover, .header-pointer:focus-within {
  outline: none;
  position: relative;
}
.header-pointer:hover::before, .header-pointer:focus-within::before {
  content: "";
  position: absolute;
  inset: 1px 0 0 0;
  background-image: linear-gradient(to left, var(--pg-acc-txt, var(--pg-acc)), transparent);
  opacity: 0.5;
}

.sidebar .header-pointer + .header-pointer {
  position: relative;
}
.sidebar .header-pointer + .header-pointer::after {
  content: "";
  position: absolute;
  inset: 0;
  right: -0.5rem;
  -o-border-image: linear-gradient(to left, white, transparent);
     border-image: linear-gradient(to left, white, transparent);
  border-image-slice: 1;
  border-top: solid 1px;
  opacity: 0.2;
}

#topnav > div > button {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), radial-gradient(closest-side, transparent, transparent);
  background-position: center center;
  background-repeat: no-repeat;
}
#topnav > div > button:focus-within {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent), radial-gradient(closest-side, var(--nav-txt-i), transparent);
  outline: none;
}
#topnav .dropdown button {
  position: relative;
}
#topnav .dropdown button:disabled {
  font-style: italic;
  text-decoration: line-through;
  cursor: default;
}
#topnav .dropdown button:not(:disabled)::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, transparent, var(--nav-txt-i), transparent);
  background-position: center center;
  background-size: 100% 0%;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}
#topnav .dropdown button:not(:disabled):hover, #topnav .dropdown button:not(:disabled):focus-within {
  outline: none;
}
#topnav .dropdown button:not(:disabled):hover::before, #topnav .dropdown button:not(:disabled):focus-within::before {
  background-size: 100% 100%;
}

.content section {
  position: relative;
}
.content section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://static.tumblr.com/k0xpxi3/OMirwh1qe/smoke-bg.png"), linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3), transparent);
  background-size: 100% auto;
  -webkit-animation: bg-vert-scroll 1024s linear infinite;
          animation: bg-vert-scroll 1024s linear infinite;
  z-index: -1;
}

.ts-b, .content header {
  text-shadow: 0 0 0.5em var(--pg-txt-i);
}

.tiled .tile {
  position: relative;
}
.tiled .tile::before {
  content: "";
  position: absolute;
  inset: -0.5rem;
  background-image: radial-gradient(ellipse at center, transparent 30%, var(--pg-txt));
  z-index: -1;
  border-radius: 100%;
  opacity: 0.3;
  filter: url(#paper);
}
.tiled .tile:hover::before {
  opacity: 0.5;
  transform: scale(1.1);
}

.page .content > h1, .page .content > h2, .page .content > h3 {
  position: relative;
}
.page .content > h1::before, .page .content > h1::after, .page .content > h2::before, .page .content > h2::after, .page .content > h3::before, .page .content > h3::after {
  --size: 10rem;
  --height: 100%;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: var(--height);
  width: var(--size);
  background-color: var(--pg-acc);
  border-top-right-radius: 70%;
  border-bottom-right-radius: 70%;
  -webkit-mask-image: linear-gradient(to left, white, transparent);
          mask-image: linear-gradient(to left, white, transparent);
  background-image: url("https://static.tumblr.com/k0xpxi3/Bktrwh1qj/leafveinhalf.png");
  background-size: 100% auto;
  background-position: right center;
  background-blend-mode: overlay;
}
.page .content > h1::before, .page .content > h2::before, .page .content > h3::before {
  margin-left: calc(var(--size) * -1 - 1rem);
}
.page .content > h1::after, .page .content > h2::after, .page .content > h3::after {
  margin-left: 1rem;
  transform: translateY(-50%) rotate(180deg);
}
.page .content > h1::before, .page .content > h1::after {
  --size: calc(100% / 2 * .8);
  --height: 1rem;
  filter: url(#wavyh1) blur(0.6px);
}
.page .content > h2::before, .page .content > h2::after {
  --size: calc(100% / 2 * .5);
  --height: .6rem;
  filter: url(#wavyh2) blur(0.6px);
}
.page .content > h3::before, .page .content > h3::after {
  --size: calc(100% / 2 * .3);
  --height: .3rem;
  filter: url(#wavyh3) blur(0.6px);
}

.page .content > h1:has(+ section:hover) button, .page .content > h1:has(+ section:focus-within) button, .page .content > h1:hover button, .page .content > h1:focus-within button, .page .content > h2:has(+ section:hover) button, .page .content > h2:has(+ section:focus-within) button, .page .content > h2:hover button, .page .content > h2:focus-within button, .page .content > h3:has(+ section:hover) button, .page .content > h3:has(+ section:focus-within) button, .page .content > h3:hover button, .page .content > h3:focus-within button {
  opacity: 1;
  margin-left: 0.3rem;
}
.page .content > h1 button, .page .content > h2 button, .page .content > h3 button {
  height: 1rem;
  aspect-ratio: 1;
  background-image: url("https://static.tumblr.com/k0xpxi3/8Fzrwh23c/createlink.png");
  background-size: cover;
  margin-left: -1rem;
  padding: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, margin 0.3s ease;
  opacity: 0;
}

section.blink *, section .blink {
  text-shadow: 0 0 1rem currentColor, 0 0 1rem currentColor;
}

::-moz-selection {
  color: var(--nav-txt);
  background: var(--pg-acc);
}

::selection {
  color: var(--nav-txt);
  background: var(--pg-acc);
}

.toggle {
  transition: all 1s ease;
}
.toggle > span {
  transition: inherit;
}

#topnav {
  transition: color 0.5s ease;
}
#topnav button, #topnav .dropdown {
  transition: background 0.5s ease, transform 0.3s ease;
}
#topnav .dropdown button::before {
  transition: background 0.3s ease 0.15s;
}
#topnav .dropdown button:hover::before, #topnav .dropdown button:focus::before {
  transition: background 0s ease 0s;
}
#topnav > div:hover > .dropdown, #topnav > div:focus-within > .dropdown,
#topnav > div .dropdown:hover,
#topnav > div .dropdown:focus-within {
  transition-delay: 0s;
}

.page {
  transition: transform 1s ease, opacity 1s ease, color 0.3s ease;
}
.page.tiled > .tile,
.page .tiled > .tile {
  transition: transform 1s ease, opacity 1s ease;
}
.page.tiled > .tile::before,
.page .tiled > .tile::before {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.page .sidebar {
  transition: transform 1s ease;
}
.page .content > h1::before, .page .content > h1::after, .page .content > h2::before, .page .content > h2::after, .page .content > h3::before, .page .content > h3::after {
  transition: background 1s ease;
}
.page .content section, .page .content section * {
  transition: text-shadow 0.3s ease;
}

.page .sidebar .header-pointer {
  transition: color 0.3s ease, filter 0.3s ease;
}
.page .sidebar .header-pointer > * {
  transition: transform 0.3s ease;
}

[page-bg] {
  transition: opacity 1s ease;
}

#feedbackform, .btn-container > a.kofi-button {
  transition: background 0.3s ease;
}

nav#topnav {
  border-bottom: solid 1px;
}
nav#topnav > div:not(:first-child) > button {
  border-left: solid 1px;
}
nav#topnav > div > .dropdown {
  border: solid 1px;
  border-top: none;
}
nav#topnav #history:not(:empty) {
  border-block: solid 1px;
}

.sidebar {
  -o-border-image: linear-gradient(to bottom, currentColor, transparent);
     border-image: linear-gradient(to bottom, currentColor, transparent);
  border-image-slice: 1;
  border-right: solid 1px;
}

.page:not(.content-only) .content {
  -o-border-image: linear-gradient(to bottom, currentColor, transparent);
     border-image: linear-gradient(to bottom, currentColor, transparent);
  border-image-slice: 1;
  border-left: solid 1px;
}

body {
  font-family: "Dosis";
  font-weight: 400;
}

header, .tile {
  font-family: "IM Fell English";
}
header h1, .tile h1 {
  font-size: 3rem;
}

nav#topnav > div > button {
  font-size: 1.5rem;
}

.sidebar {
  color: white;
}
.sidebar .header {
  font-weight: bold;
}
.sidebar .last-updated {
  text-align: center;
}

.content > h1, .content > h2, .content > h3 {
  color: white;
}
.content > h2, .content > h3 {
  font-weight: normal;
}
.content > h1 {
  font-size: 1.8rem;
}
.content > h2 {
  font-size: 1.5rem;
}
.content > h3 {
  font-style: italic;
  font-size: 1.2rem;
}
.content section ul {
  text-align: left;
}

header h1, .tile h1 {
  text-align: center;
}
header h2, .tile h2 {
  font-weight: normal;
  font-style: italic;
}

.page > header > h1 {
  font-size: 1.5rem;
}

main {
  position: relative;
}
main .toggle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  left: min(10.5rem, 30vw);
  background-color: transparent;
  transform: translateX(-100%);
  z-index: 1;
  border: solid 0;
  border-right: solid 1px transparent;
  border-bottom: solid 1px transparent;
}
main .toggle > span {
  display: inline-block;
  color: white;
}
main .toggle.off {
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(max(-10.5rem, -30vw));
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
}
main .toggle.off > span {
  transform: rotateY(180deg);
}

nav#topnav {
  position: relative;
  background-color: var(--pg-acc);
  color: var(--nav-txt, inherit);
  z-index: 10;
}
nav#topnav > div > button {
  position: relative;
  background-color: var(--pg-acc);
  z-index: 2;
}
nav#topnav .dropdown {
  position: relative;
  background-color: var(--pg-acc);
  background-image: linear-gradient(to bottom, rgba(0 0 0 / 40%), rgba(0 0 0 / 30%));
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  z-index: -1;
}
nav#topnav #history {
  position: relative;
  color: var(--nav-txt);
  background-image: linear-gradient(to bottom, rgba(0 0 0 / 40%), rgba(0 0 0 / 40%));
}
nav#topnav #history::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--nav-txt-i);
  opacity: 0.5;
}
nav#topnav #history > a {
  position: relative;
  background-image: none;
}
nav#topnav #history > a::after {
  content: ">";
  position: absolute;
  left: calc(100% + 0.5rem);
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}
nav#topnav #history > a:last-child::before {
  content: "Here";
  display: block;
  position: absolute;
  left: calc(100% + 2rem);
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.sidebar {
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(0.5rem) url(#glass);
          backdrop-filter: blur(0.5rem) url(#glass);
  flex-shrink: 0;
  overflow: hidden;
}
.sidebar .header-pointer i {
  font-size: 0.9em;
}
.sidebar .credit a {
  color: inherit;
}
.sidebar .header-pointer:has(> span) {
  margin-left: 0.5rem;
}
.sidebar .header-pointer:has(> i) {
  margin-left: 1rem;
}
.sidebar.collapsed {
  transform: translateX(calc(-100% - 0.5rem)) !important;
}
.sidebar.collapsed + .content {
  width: 100vw;
  transform: translateX(calc(-1 * min(10rem, 30vw) - 0.5rem)) !important;
}

.content {
  width: calc(100vw - (min(10rem, 30vw) + 0.5rem));
}
.content header {
  margin-bottom: 2rem;
}
.content > h1, .content > h2, .content > h3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.22));
  box-shadow: 0 0 5rem 0.3rem rgb(0, 0, 0);
  -webkit-clip-path: polygon(-1000% 0%, 1000% 0%, 1000% 100%, -1000% 100%, -1000% 0%);
          clip-path: polygon(-1000% 0%, 1000% 0%, 1000% 100%, -1000% 100%, -1000% 0%);
}
.content section ul li::marker {
  content: "";
}
.content section ul li::before {
  content: "•";
  display: inline-block;
  width: 1rem;
  font-size: 1.3em;
  font-weight: bolder;
  transform: translateY(0.05rem);
}
.content section.subcolumns > :not(.escape) {
  border-right: solid 1px;
  -o-border-image: linear-gradient(to top, transparent, var(--pg-acc) 40%, var(--pg-acc) 60%, transparent);
     border-image: linear-gradient(to top, transparent, var(--pg-acc) 40%, var(--pg-acc) 60%, transparent);
  border-image-slice: 1;
}
.content section.subcolumns > :not(.escape):first-of-type {
  padding-left: 0;
}
.content section.subcolumns > :not(.escape):last-of-type {
  padding-right: 0;
  border: none;
}

.left-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.left-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.left-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--pg-acc);
  border-radius: 5px;
}
.left-scrollbar::-webkit-scrollbar-button {
  background-color: var(--pg-acc);
  height: 5px;
  border-radius: 100%;
}

#world > :last-child {
  margin-bottom: 5rem;
}
#world > div > span {
  font-family: "IM Fell English";
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#feedbackform, .btn-container > a.kofi-button {
  padding: 2px 0.65rem;
  border: 0.1rem solid white !important;
  border-radius: 7px;
  background-color: black !important;
  color: white !important;
  font-family: inherit !important;
  font-weight: bold !important;
  font-size: 1em !important;
  line-height: initial !important;
}
#feedbackform:hover, #feedbackform:focus-within, .btn-container > a.kofi-button:hover, .btn-container > a.kofi-button:focus-within {
  background-color: #222 !important;
  opacity: 1;
  color: inherit;
}

#ras section.subcolumns > div.phy p b:not(.escape) {
  color: hsl(160deg, 100%, 40%);
}
#ras section.subcolumns > div.psy p b:not(.escape) {
  color: hsl(214deg, 94%, 56%);
}
#ras section.subcolumns > div.mag p b:not(.escape) {
  color: hsl(249deg, 96%, 68%);
}

#kitsunes section.subcolumns > div.phy p b:not(.escape) {
  color: hsl(27deg, 100%, 51%);
}
#kitsunes section.subcolumns > div.psy p b:not(.escape) {
  color: hsl(51deg, 100%, 63%);
}
#kitsunes section.subcolumns > div.mag p b:not(.escape) {
  color: hsl(352deg, 100%, 63%);
}

#elves section.subcolumns > div.phy p b:not(.escape) {
  color: hsl(204deg, 78%, 82%);
}
#elves section.subcolumns > div.mag p b:not(.escape) {
  color: hsl(60deg, 89%, 89%);
}
/*# sourceMappingURL=style.css.map */